{% extends "skeleton.html" %}

{% block content %}
<div class="col-12">
    <div class="mx-auto" style="width: 300px;">
        <h1>Sign Up to Pizzeria DKE</h1>
    </div>
    <hr>
    <div class="row">
        <form action="/customer" method="post" novalidate>

            <div class="row">
                <div class="col-4 p-3">
                    <label for="email">Email</label>
                </div>
                <div class="col-8 p-3">
                    <input type="email" id="email" name="email" class="form-control" maxlength="120" required="true">
                </div>
            </div>
            <div class="row">
                <div class="col-4 p-3">
                    <label for="street">Street</label>
                </div>
                <div class="col-4 p-3">
                    <input type="text" id="street" name="street" class="form-control" maxlength="120" required="true">
                </div>
                <div class="col-2 p-3 ">
                    <label for="street_no">Street Number</label>
                </div>
                <div class="col-2 p-3">
                    <input type="text" id="street_no" name="street_no" class="form-control" maxlength="5" required="true">
                </div>
            </div>
            <div class="row">
                <div class="col-2 p-3">
                    <label for="postal_code">Postal Code</label>
                </div>
                <div class="col-2 p-3">
                    <input type="text" id="postal_code" name="postal_code" class="form-control" maxlength="7" required="true">
                </div>
                <div class="col-4 p-3">
                    <label for="city">City</label>
                </div>
                <div class="col-4 p-3">
                    <input type="text" id="city" name="city" class="form-control" maxlength="40" required="true">
                </div>
            </div>
            <div class="row">
                <div class="col-12 p-3">
                    <div class="mx-auto" style="width: 200px;">
                        <input type="submit" id="submit" name="street" class="btn btn-outline-success" value="Create Account">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}