{% extends "skeleton.html" %}

{#{% from controller.MenuController import find_singe_pizza, find_all_toppings, find_single_dessert, find_single_drink %}#}
{% block content %}
<div class="col-12">
    <div class="mx-auto" style="width: 300px;">
        <h1>Order with Pizzeria DKE</h1>
    </div>
    <hr>
    <div class="row">
    <form action="" method="post">
        <div class="row">
            <div class="col-4">
                <label class="font-weight-bold" for="email">
                    Email
                </label>
                <br>
                <p class="font-weight-lighter text-muted">
                    Please enter your email so you can get nice rewards.
                    <br>
                    And we know where to send your Order to.
                </p>
            </div>
            <div class="col-8">
                <input type="email" class="form-control" id="email" name="email" required="true">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="mx-auto" style="width: 200px;">Pizzas</h2>
            </div>
            {% for pizza in pizzaMenu %}
                <div class="col-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Pizza {{ pizza.pizza_name }}</h5>
                            <p class="card-text">
                                {% for topping in pizza.toppings %}
                                    {{ topping.toppings_name }},
                                {% endfor %}
{#                                {% if pizzaMenuVegi[(pizza.pizza_id - 1)] %}#}
{#                                    <br>#}
{#                                    Vegetarian#}
{#                                {% endif %}#}
                            </p>
                            <p class="font-weight-bold">
                                €{{ "%.2f" % (pizzaMenuPrices[(pizza.pizza_id - 1)]) }}
                            </p>
                            <div class="mx-auto" style="width: 250px;">
                                <input type="number" class="form-control" id="{{ pizza.menu[0].menu_id }}" name="{{ pizza.menu[0].menu_id }}">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="mx-auto" style="width: 200px;">Drinks</h2>
            </div>
            {% for drink in drinksMenu %}
                <div class="col-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ drink.drinks_name}}</h5>
                            <p class="card-text">
                                € {{ "%.2f" % drink.drinks_price }}
                            </p>
                            <div class="mx-auto" style="width: 250px;">
                                <input type="number" class="form-control" id="{{ drink.menu[0].menu_id }}" name="{{ drink.menu[0].menu_id }}">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="mx-auto" style="width: 200px">Dessert</h2>
            </div>
            {% for dessert in dessertMenu %}
                <div class="col-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ dessert.dessert_name}}</h5>
                            <p class="card-text">
                                € {{ "%.2f" % dessert.dessert_price }}
                            </p>
                            <div class="mx-auto" style="width: 250px;">
                                <input type="number" class="form-control" id="{{ dessert.menu[0].menu_id }}" name="{{ dessert.menu[0].menu_id }}">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="row">
            <div class="col-12">
                <div class="mx-auto pt-3" style="width: 200px;">
                    <input type="submit" value="Order Now" class="btn btn-outline-success">
                </div>
            </div>
        </div>
    </form>

    </div>
<div style="height: 100px; width: 100px;"></div>
</div>

{% endblock %}




Create Order


{#"""
{#pizza_magarita
{#pizza_caprese
{#pizza_buratina
{#pizza_fungi
{#pizza_parma
{#pizza_prosciutto
{#pizza_pepperoni
{#pizza_diavola
{#pizza_salami
{#pizza_romana
{#pizza_napoli
{#pizza_marinara
{#pizza_crudo
{#pizza_tricolore
{
{#water
{#coke
{#apple
{#orange
{#white_wine
{#red_wine
{#limoncello
{#espresso
{#cappuccino
{
{#tiramisu
{#pana_cotta
{#tartufo
{#"""#}
